attrs==21.2.0
bandit==1.7.0
cffi==1.14.6
click==8.0.1
cryptography==3.4.8
Flask==2.0.1
gitdb==4.0.7
GitPython==3.1.24
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
pbr==5.6.0
pluggy==1.0.0
py==1.10.0
pycparser==2.20
PyJWT==2.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.5
PyYAML==6.0
six==1.16.0
smmap==4.0.0
stevedore==3.5.0
toml==0.10.2
typing-extensions==3.10.0.2
Werkzeug==2.0.1
